body {
  max-width: 100%;
  background-color: $page-bg;

  nav {
    background-color: transparent !important;

    .navbar-nav {
      .nav-link {
        font-size: 16px;
        font-weight: map-get($map: $font-weight, $key: regular);
        color: $light-green !important;
        margin-left: 25px;
      }
      .active {
        color: $yellow !important;
        border-bottom: 2px;
        border-color: $yellow;
      }
    }
  }

  .heading {
    font-size: 48px;
    font-weight: map-get($map: $font-weight, $key: semi-bold);
    color: $dark;
    line-height: 65px;
    text-transform: capitalize;
  }

  .std-text {
    font-size: 22px;
    font-weight: map-get($map: $font-weight, $key: regular);
    color: $dark;

    @media only screen and (max-width: 600px) {
      font-size: 18px;
    }
  }

  a.link-text {
    font-size: 16px;
    font-weight: map-get($map: $font-weight, $key: regular);
    text-transform: uppercase;
    text-decoration: underline;
    color: $dark;
    margin-top: 50px;
  }

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $grey !important;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $grey !important;
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $grey !important;
  }

  h1 {
    color: $light;
    font-size: 65px;
    font-weight: map-get($map: $font-weight, $key: semi-bold);
    margin-bottom: 30px;

    @media only screen and (max-width: 600px) {
      font-size: 48px;
      color: $dark-green;
    }
  }

  h2.heading {
    color: $dark;
    font-size: 48px;
    font-weight: map-get($map: $font-weight, $key: semi-bold);
    line-height: 65px;
    @media only screen and (max-width: 600px) {
      font-size: 38px;
    }
  }

  h3 {
    color: $light;
    font-size: 26px;
    font-weight: map-get($map: $font-weight, $key: medium);
    text-align: center;
  }
}
