.hero-image {
  img.hero-background {
    max-width: 1440px;
    z-index: -1;
    position: absolute;
    top: 0;
    @media only screen and (max-width: 600px) {
      max-width: 100%;
      // height: 800px;
    }
  }
}

section.hero {
  padding-top: 100px;

  img.illustration {
    margin-top: 50px;
    max-width: 100%;
    width: 725px;
  }

  .brand-partner {
    padding: 10px;
    margin-top: 50px;

    img {
      max-width: 100%;
    }
  }

  @media only screen and (max-width: 600px) {
    padding-top: 75px;
  }
}

section.intro {
  margin-top: 150px;

  img.gallery-image {
    max-width: 90%;
  }

  ul.points {
    margin-top: 25px;
    list-style-type: none;
    padding: 0;

    li {
      @extend .std-text;
      margin-bottom: 30px;
    }
  }
}

section.jobs {
  margin: 150px 0;

  .card-jobs {
    background-color: $light;
    border-radius: 16px;
    border: 0;
    padding: 30px;

    .card-heading {
      img {
        max-width: 50px;
        padding-right: 15px;
      }

      .title {
        @extend .std-text;
        line-height: 25px;
      }

      .subtitle {
        font-size: 14px;
        margin-top: 5px;
        color: $grey;
      }
    }

    .price {
      color: $dark-green;
      font-weight: map-get($map: $font-weight, $key: medium);
      font-size: 48px;
      line-height: 30px;
      padding-top: 70px;
      padding-bottom: 65px;
    }

    .bg-sky-blue {
      color: $sky-blue;
      background-color: $light-blue;
      text-transform: uppercase;
      width: auto;
      border-radius: 6px;
      padding: 7px;
    }
  }
}

section.subscribe {
  padding-bottom: 150px;
  overflow: hidden;
  img.sub-bg {
    max-width: 100%;
    z-index: -1;
    position: absolute;
  }
  .subs-placeholder {
    // background-color: $dark;
    border-radius: 16px;
    max-width: 100%;
    width: 750px;

    padding-top: 40px;
    padding-bottom: 50px;

    p.subs-text {
      font-size: 16px;
      font-weight: map-get($map: $font-weight, $key: regular);
      text-align: center;
      color: $light-green;
      margin-bottom: 0;
    }
    .subs-form {
      padding-top: 50px;
      input.email-form {
        border-radius: 9px 0px 0px 9px !important;
        border: none;

        &:focus {
          outline: $light-blue;
          box-shadow: $light-blue;
        }
      }
    }
  }
}
