img.hero-background {
  width: 100%;
  max-width: 1440px;
  z-index: -1;
  position: absolute;
  top: 0;
}

section.hero {
  padding-top: 100px;
  padding-bottom: 150px;

  h1 {
    color: $light;
    font-size: 65px;
    font-weight: map-get($map: $font-weight, $key: semi-bold);
    margin-bottom: 30px;
  }

  img.illustration {
    margin-top: 50px;
    max-width: 725px;
    height: 500px;
  }

  img.brand-partner {
    margin-top: 50px;
    max-width: 820px;
  }
}

section.intro {
  margin-top: 150px;

  img.gallery-image {
    max-width: 90%;
  }

  ul.points {
    margin-top: 25px;
    list-style-type: none;
    padding: 0;

    li {
      @extend .std-text;
      margin-bottom: 30px;
    }
  }
}

section.jobs {
  margin: 150px 0;

  .card-jobs {
    background-color: $light;
    border-radius: 16px;
    border: 0;
    padding: 30px;
    margin-top: 70px;

    .card-heading {
      img {
        max-width: 50px;
        padding-right: 15px;
      }

      .title {
        @extend .std-text;
        line-height: 25px;
      }

      .subtitle {
        font-size: 14px;
        margin-top: 5px;
        color: $grey;
      }
    }

    .price {
      color: $dark-green;
      font-weight: map-get($map: $font-weight, $key: medium);
      font-size: 48px;
      line-height: 30px;
      padding-top: 70px;
      padding-bottom: 65px;
    }

    .bg-sky-blue {
      color: $sky-blue;
      background-color: $light-blue;
      text-transform: uppercase;
      width: auto;
      border-radius: 6px;
      padding: 7px;
    }
  }
}

section.subscribe {
  padding-bottom: 150px;
  img.sub-bg {
    z-index: -1;
    position: absolute;
  }
  .subs-placeholder {
    // background-color: $dark;
    border-radius: 16px;

    background-image: url("/assets/images/bg-subscribe.svg");
    background-repeat: no-repeat;
    object-fit: cover;
    width: 750px;

    padding-top: 40px;
    padding-bottom: 50px;

    h3 {
      color: $light;
      font-size: 26px;
      font-weight: map-get($map: $font-weight, $key: medium);
      text-align: center;
    }

    p.subs-text {
      font-size: 16px;
      font-weight: map-get($map: $font-weight, $key: regular);
      text-align: center;
      color: $light-green;
      margin-bottom: 0;
    }
    .subs-form {
      padding-top: 50px;
      input.email-form {
        border-radius: 9px 0px 0px 9px !important;
        border: none;

        &:focus {
          outline: $light-blue;
          box-shadow: $light-blue;
        }
      }
    }
  }
}
