@import url("https://fonts.googleapis.com/css2?family=Asap:wght@400;500;600&display=swap");
* {
  font-family: "Asap", sans-serif;
}

.btn-master, .btn-cta-hero, .btn-subscribe {
  padding: 15px 50px;
  font-weight: 500;
  border-radius: 56px;
}

.btn-cta-hero, .btn-subscribe {
  color: #986121;
  background-color: #f2ad5f;
}

.btn-subscribe {
  padding: 0px 25px !important;
}
@media only screen and (max-width: 600px) {
  .btn-subscribe {
    font-size: 12px;
    height: 40px;
  }
}

body {
  max-width: 100%;
  background-color: #fafaff;
}
body nav {
  background-color: transparent !important;
}
body nav .navbar-nav .nav-link {
  font-size: 16px;
  font-weight: 400;
  color: #b0c3c9 !important;
  margin-left: 25px;
}
body nav .navbar-nav .active {
  color: #f2ad5f !important;
  border-bottom: 2px;
  border-color: #f2ad5f;
}
body .heading {
  font-size: 48px;
  font-weight: 600;
  color: #0f1d37;
  line-height: 65px;
  text-transform: capitalize;
}
body .std-text, body section.jobs .card-jobs .card-heading .title, section.jobs .card-jobs .card-heading body .title, body section.intro ul.points li, section.intro ul.points body li {
  font-size: 22px;
  font-weight: 400;
  color: #0f1d37;
}
@media only screen and (max-width: 600px) {
  body .std-text, body section.jobs .card-jobs .card-heading .title, section.jobs .card-jobs .card-heading body .title, body section.intro ul.points li, section.intro ul.points body li {
    font-size: 18px;
  }
}
body a.link-text {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: underline;
  color: #0f1d37;
  margin-top: 50px;
}
body ::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #cacad2 !important;
  opacity: 1;
  /* Firefox */
}
body :-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #cacad2 !important;
  opacity: 1;
  /* Firefox */
}
body ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #cacad2 !important;
  opacity: 1;
  /* Firefox */
}
body :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #cacad2 !important;
}
body ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #cacad2 !important;
}
body h1 {
  color: #ffffff;
  font-size: 65px;
  font-weight: 600;
  margin-bottom: 30px;
}
@media only screen and (max-width: 600px) {
  body h1 {
    font-size: 48px;
    color: #10495c;
  }
}
body h2.heading {
  color: #0f1d37;
  font-size: 48px;
  font-weight: 600;
  line-height: 65px;
}
@media only screen and (max-width: 600px) {
  body h2.heading {
    font-size: 38px;
  }
}
body h3 {
  color: #ffffff;
  font-size: 26px;
  font-weight: 500;
  text-align: center;
}

.hero-image img.hero-background {
  max-width: 1440px;
  z-index: -99;
  position: absolute;
  overflow: hidden;
  top: 0;
  margin-left: -120px;
}

section.hero {
  padding-top: 100px;
}
section.hero img.illustration {
  margin-top: 50px;
  max-width: 100%;
  width: 725px;
}
section.hero .brand-partner {
  padding: 10px;
  margin-top: 50px;
}
section.hero .brand-partner img {
  max-width: 100%;
}
@media only screen and (max-width: 600px) {
  section.hero {
    padding-top: 75px;
  }
}

section.intro {
  margin-top: 150px;
}
section.intro img.gallery-image {
  max-width: 90%;
}
section.intro ul.points {
  margin-top: 25px;
  list-style-type: none;
  padding: 0;
}
section.intro ul.points li {
  margin-bottom: 30px;
}

section.jobs {
  margin: 150px 0;
}
section.jobs .card-jobs {
  background-color: #ffffff;
  border-radius: 16px;
  border: 0;
  padding: 30px;
}
section.jobs .card-jobs .card-heading img {
  max-width: 50px;
  padding-right: 16px;
}
section.jobs .card-jobs .card-heading .title {
  line-height: 25px;
}
section.jobs .card-jobs .card-heading .subtitle {
  font-size: 14px;
  margin-top: 5px;
  color: #cacad2;
}
section.jobs .card-jobs .price {
  color: #10495c;
  font-weight: 500;
  font-size: 48px;
  line-height: 30px;
  padding-top: 70px;
  padding-bottom: 65px;
}
section.jobs .card-jobs .bg-sky-blue {
  color: #65d9e4;
  background-color: #ebfafc;
  text-transform: uppercase;
  width: auto;
  border-radius: 6px;
  padding: 7px;
}
@media only screen and (max-width: 768px) {
  section.jobs .card-jobs {
    margin-bottom: 30px;
  }
}

section.subscribe {
  padding-bottom: 150px;
  overflow: hidden;
}
section.subscribe img.sub-bg {
  max-width: 100%;
  z-index: -1;
  position: absolute;
}
section.subscribe .subs-placeholder {
  background-image: url("/assets/images/bg-subscribe.svg");
  background-repeat: no-repeat;
  border-radius: 36px;
  max-width: 100%;
  width: 750px;
  padding: 40px 20px;
}
section.subscribe .subs-placeholder p.subs-text {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #b0c3c9;
  margin-bottom: 0;
}
section.subscribe .subs-placeholder .subs-form {
  padding-top: 50px;
}
section.subscribe .subs-placeholder .subs-form input.email-form {
  font-size: 16px;
  border-radius: 9px 0px 0px 9px !important;
  border: none;
  height: 40px;
}
section.subscribe .subs-placeholder .subs-form input.email-form:focus {
  outline: #ebfafc;
  box-shadow: #ebfafc;
}
@media only screen and (max-width: 600px) {
  section.subscribe .subs-placeholder .subs-form input.email-form {
    font-size: 12px;
  }
}/*# sourceMappingURL=main.css.map */