.btn-master {
  padding: 15px 50px;
  font-weight: map-get($map: $font-weight, $key: medium);
  border-radius: 56px;
}

.btn-cta-hero {
  @extend .btn-master;
  color: $dark-yellow;
  background-color: $yellow;
}

.btn-subscribe {
  @extend .btn-cta-hero;
  padding: 0px 25px !important;
  @media only screen and (max-width: 600px) {
    font-size: 12px;
    height: 40px;
  }
}
